@page
@{
    ViewData["Title"] = "Blog";
}

<h1>@ViewData["Title"]</h1>

<h2>2023</h2>

<p><a asp-page="2023/HelloWorldAgain/Index">2023/07/27 - Hello World (again)</a></p>

<h2>2022</h2>

<p><a asp-page="2022/XorTrick/Index">2022/12/18 - A neat XOR trick</a></p>

<p><a asp-page="2022/FixingScrum/Index">2022/04/07 - Fixing Scrum</a></p>

<h2>2021</h2>

<p><a asp-page="2021/MinApi/Index">2021/11/22 - Razor Pages with .NET 6’s Minimal Api</a></p>

<p><a asp-page="2021/FixedScopeSprint/Index">2021/10/22 - Fixed Scope Sprints</a></p>

<p><a asp-page="2021/Agile2/Index">2021/09/03 - Agile 2.0</a></p>

<p><a asp-page="2021/WhatIfWeDidnt/Index">2021/07/08 - The “What if we didn’t” game</a></p>

<p><a asp-page="2021/TeamDecisions/Index">2021/06/09 - Letting the team decide (or not)</a></p>

<p><a asp-page="2021/ThreeLaws/Index">2021/05/10 - Three software laws every developer should know</a></p>

<p><a asp-page="2021/Optionsgoals/Index">2021/05/04 - Small Goals and Options Thinking</a></p>

<p><a asp-page="2021/TrunkBasedDevelopment/Index">2021/04/20 - Trunk Based Development is Lean </a></p>

<p><a asp-page="2021/SortSweepStandardize/Index">2021/04/01 - Sort Sweep Standardize </a></p>