@page
@{
    ViewData["Title"] = "About Me";
}

<h1>@ViewData["Title"]</h1>

<p>
    A lot of my memories from a young age were messing around with the family computer. It was a MS-DOS machine that booted to command line. 
    You had to type a few commands to boot the DOS shell, the visual interface that is far from how Windows looks today.
</p>

<img src="~/media/Msdos-icon.png" alt="MS-DOS logo" class="mb-2" />

<p>
    I paid very close attention to my older family members using the computer. 
    I wanted to know those commands that could get me into the shell because that was how you could get to the video games (like Warcraft 2). 
    I also did a lot of tinkering with the CLI itself. 
    I didn't understand how to do much but I liked how the computer would attempt to do something and output a response when I typed into the terminal and hit the big ENTER button.
</p>

<img src="~/media/Warcraft-2.jpg" alt="Warcraft 2 box art" class="mb-2" />

<p>
    My first encounter with programming was with a scripting language known as JASS that came included with the Warcraft 3 map editor.
    People created and upload their own small worlds (called maps) and uploaded them to Battle.net and you could download and play them locally or online.
    There were some very creative people creating maps with code that was far too complex for me at the time but I enjoyed downloading them to see how they did what they did.
    When playing people's maps I would sometimes encounter bugs or other things I did not like so I would change the code to my satisfaction and re-upload it for others to download.
</p>

<img src="~/media/Warcraft-3.jpg" alt="Warcraft 3 box art" class="mb-2" />
