@page
@{
    ViewData["Title"] = "About Me";
}

<h1>@ViewData["Title"]</h1>

<div class="d-flex mb-3">
    <p>
        A lot of my memories from a young age were messing around with the family computer. It was a MS-DOS machine that booted to command line. 
        You had to type a few commands to boot the DOS shell, the visual interface that is far different from how Windows looks today.
    </p>
    <img src="~/media/about/Msdos-icon.png" alt="MS-DOS logo" class="img-responsive" />
</div>

<div class="d-flex mb-3 gap-3">
    <p>
        I paid very close attention to my older family members using the computer. 
        I wanted to know those commands that could get me into the shell because that was how you could get to the video games (like Warcraft 2). 
        I also did a lot of tinkering with the CLI itself. 
        I didn't understand how to do much but I liked how the computer would attempt to do something and output a response when I typed into the terminal and hit the big ENTER button.
    </p>
    <img src="~/media/about/Warcraft-2.jpg" alt="Warcraft 2 box art" class="img-responsive" />
</div>

<div class="d-flex mb-3 gap-3">
    <p>
        My first encounter with programming was with a scripting language known as JASS that came included with the Warcraft 3 map editor.
        People created and upload their own small worlds (called maps) and uploaded them to Battle.net and you could download and play them locally or online.
        There were some very creative people creating maps with code that was far too complex for me at the time but I enjoyed downloading them to see how they did what they did.
        When playing people's maps I would sometimes encounter bugs or other things I did not like so I would change the code to my satisfaction and re-upload it for others to download.
    </p>
    <img src="~/media/about/Warcraft-3.jpg" alt="Warcraft 3 box art" class="img-responsive" />
</div>

<div class="d-flex mb-3 gap-3">
    <p>
        In high school I enjoyed the classes focusing on wood and metal working because they were self-exploratory and focused on real world problem solving skills. 
        My high school managed to get a grant to buy a CNC machine that was programmable with COBOL and I was immediately drawn to it.
        I was also drawn to computer hardware and built several machines for myself, friends, and family. To this day I still build and use my own homegrown machine.
        After high school I decided to pursue programming professionally and ended up at Iowa State University where I graduated with honors in Software Engineering.
    </p>
    <img src="~/media/about/isu.png" alt="Warcraft 3 box art" class="img-responsive" />
</div>

<div class="d-flex mb-3 gap-3">
    <div>
        <p>
        Today my greatest enjoyment is programming in .NET and C# but I know and enjoy a variety of other languages. I enjoy reading technical books, blogs, and other online resources and use those
        to further my own understanding of software programming and the broader software industry.
        </p>
        <p>
        I believe I thrive in making complex problems into simple problems. I think any programmer can take a complex problem and make a complex program but
        it takes a great programmer to take a complex problem and make a simple program.
        </p>
    </div>
    <img src="~/media/about/csharp.png" alt="csharp logo" class="img-responsive" />
</div>