@page
@{
    ViewData["Title"] = "Home";
}

<p>This is my personal site I use to tinker with web stuff and sometimes write about things on my mind.</p>

<p>Other places you can find me...</p>

<a target="_blank" href="https://github.com/jamesSampica">Github</a>
<br>
<a target="_blank" href="https://stackoverflow.com/users/1950321/james-sampica">StackOverflow</a>
<br>
<a target="_blank" href="https://www.linkedin.com/in/jamessampica/">LinkedIn</a>
<br>
<a target="_blank" href="https://twitter.com/JamesSampica">Twitter</a>