@page
@{
    ViewData["Title"] = "Home";
}

<p>Hi there. 👋</p>
<p>My career's mission is helping organizations solve complex problems with practical solutions.</p>
<p>I have been enjoying the Microsoft C#/.NET space for many years but love the craft more than any specific technology. Because of this I enjoy solving problems wherever and however they need solving.</p>
<p>In my free time I can be found reading books on topics such as Lean, Agile, XP, and software design.</p>
<img src="~/media/me.jpg" alt="A picture of myself" class="img-responsive" />