@page
@{
    ViewData["Title"] = "Home";
}

@section Styles
{
    <link rel="stylesheet" type="text/css" href="~/css/site.css" asp-append-version="true" />
}

@section Scripts
{
    <script defer src="~/js/site.js" asp-append-version="true"></script>
}

<div class="console">
  <div class="console-inner">
    <div>
        <h1>Hi there. 👋</h1>
        <p>My mission is helping organizations solve complex problems with practical solutions.</p>
        <p>I enjoy the Microsoft C#/.NET space but love the craft more than any specific technology. I make an impact by taking a holistic approach to solving problems.</p>
        <p>In my free time I can be found tinkering and reading about system design, architecture, and other programming topics.</p>
    </div>
    <div id="outputs">
    </div>
    <div class="output-cmd"><textarea autofocus class="console-input" placeholder="Type a command or 'help'..."></textarea></div>
  </div>
</div>
