@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This site is dedicated to myself and my adventures in programming.</p>

    <a href="#">Blog</a> |

    <a href="#">About me</a>
</div>
