@page
@{
    ViewData["Title"] = "Trunk Based Development is Lean";
}

<h1>@ViewData["Title"]</h1>
<h2>2021/04/20</h2>

<p>Git is great as a version control system but developers tend to over complicate their needs when branching. 
    Worse, team branching strategies tend to follow the organizational chart (think Dev/Qa/Ops) which build bottlenecks into the workflow.</p>

<p>When changes need to ride up and down branches, go into certain branches but stay out of others, and be integrated with each other it is hard to get work done. 
    Developers hate merging code together but will complicate their branching strategy to where every step necessitates it. _Merge Hell_ is this particular kind of disfunction.</p>

<p>A popular branching strategy that most developers don't need is <a href="https://nvie.com/posts/a-successful-git-branching-model/">GitFlow</a>. 
This strategy is so popular it's become a cargo cult. There is nothing wrong with this strategy (actually it's quite good), but it has been superseded by a better strategy.</p>

<p>This new strategy is based on the idea that branching causes a lot of problems so we want to try to minimize branching. 
    If we remove as many long-lived branches as possible we are left with a model like the following...</p>

<img class="mb-3" src="~/media/Blog/2021/TrunkBasedDevelopment/trunk1c.png" />

<p>The model above is all we need. Trunk Based Development is the _Lean_ branching strategy.</p>

<p>Code is integrated frequently. It doesn't need to ride branches up or down or be integrated multiple times. 
    Depending on your workflow and scale even Release branches or branches off main are optional, simplifying this further.</p>

<p>This strategy _will_ work for almost every organization, small to large.</p>

<p>Chances are you work with branches every day so by simplifying your branching strategy you will see immediate results.</p>

<p>For more information visit <a href="https://trunkbaseddevelopment.com/">https://trunkbaseddevelopment.com/</a> and start simplifying today.</p>