@page
@{
    ViewData["Title"] = "Agile 2.0";
}

<h1>@ViewData["Title"]</h1>
<h2>2021/04/20</h2>

<p>Agile is 20 years old this year and remains just as relevant today as it was when conceptualized.</p>

<p>Everybody is always wondering what the next version of software will bring. But what about agile? What is Agile 2.0 going to bring?</p>

<p>I think it was Martin Fowler who said that early on it was decided by the group that there wouldn't be an attempt to update the manifesto over time. The group didn't want to be seen as the gatekeepers or stewards of what agile is. They instead passed the torch to the people of the future to build on and change what had been created.</p>

<p>I've seen others come up with their version of "Agile 2.0" and I thought I'd take a stab at some changes myself. This isn't meant to be a rigourous study but merely a fun exercise. So don't take it too seriously. :)</p>

<p>I put the 2001 version first and then a 2021 version after with notes next to changes I've made.</p>

<h3>Agile 2001</h3> 

<h4>Values</h4>

<p>We are uncovering better ways of developing software by doing it and helping others do it. Through this work we have come to value:</p>

<ol>
    <li>Individuals and interactions over processes and tools</li>
    <li>Working software over comprehensive documentation</li>
    <li>Customer collaboration over contract negotiation</li>
    <li>Responding to change over following a plan</li>
</ol>

<p>That is, while there is value in the items on the right, we value the items on the left more.</p>

<h4>Principles</h4>

<p>We follow these principles:</p>

<ol>
    <li>Our highest priority is to satisfy the customer through early and continuous delivery of valuable software.</li>
    <li>Welcome changing requirements, even late in development. Agile processes harness change for the customer's competitive advantage.</li>
    <li>Deliver working software frequently, from a couple of weeks to a couple of months, with a preference to the shorter timescale.</li>
    <li>Business people and developers must work together daily throughout the project.</li>

    <li>Build projects around motivated individuals. Give them the environment and support they need, and trust them to get the job done.</li>
    <li>The most efficient and effective method of conveying information to and within a development team is face-to-face conversation.</li>
    <li>Working software is the primary measure of progress.</li>
    <li>Agile processes promote sustainable development. The sponsors, developers, and users should be able to maintain a constant pace indefinitely.</li>
    
    <li>Continuous attention to technical excellence and good design enhances agility.</li>
    <li>Simplicity--the art of maximizing the amount of work not done--is essential.</li>
    <li>The best architectures, requirements, and designs emerge from self-organizing teams.</li>
    <li>At regular intervals, the team reflects on how to become more effective, then tunes and adjusts its behavior accordingly.</li>
</ol>

<h3>Agile 2021</h3> 

<h4>Values</h4>

<p>We are uncovering better ways of developing software by doing it and helping others do it. Through this work we have come to value:</p>

<ol>
    <li>Individuals and interactions over processes and tools</li>
    <li>Working software over comprehensive documentation</li>
    <li>Customer collaboration over contract negotiation</li>
    <li>Responding to change over following a plan</li>
    <li>Craftsmanship over Crap<sup>1</sup></li>
</ol>

<p>That is, while there is value in the items on the right, we value the items on the left more.</p>

<p><sup>1</sup>Thanks to Robert Martin for this one. Developers who only build systems but have no desire to maintain them and Resume Driven Development is pervasive in the industry. Technical debt and poor designs impact the business' ability to be agile.</p>

<h4>Principles</h4>

<p>We follow these principles:</p>

<ol>
    <li>Our highest priority is to satisfy the customer through early and continuous delivery of valuable software.</li>
    <li>Welcome changing requirements <del>, even late in development</del> at any time. Agile processes harness change for the customer's competitive advantage.</li>
    <li>Deliver working software frequently<del>, from a couple of weeks to a couple of months, with a preference to the shorter timescale.</del> and on short timescales to harness the power of learning through feedback<sup>2</sup></li>
    <li>Business people and developers must collaborate together frequently <del>throughout the project</del>.<sup>3</sup></li>
    
    <li>Build <del>projects</del> products around motivated individuals. Give them the environment and support they need, and trust them to get the job done.</li>
    <li>The most efficient and effective method of <del>conveying information to and within a development team</del> collaboration is <del>face-to-face</del> synchronous conversation.<sup>5</sup></li>
    <li>Working software is the primary measure of progress.</li>
    <li>Agile processes promote sustainable development. The sponsors, developers, and users should be able to maintain a constant pace indefinitely.</li>

    <li>Continuous attention to technical excellence and good design enhances agility.</li>
    <li>Simplicity--the art of maximizing the amount of work not done--is essential.</li>
    <li>The best architectures, requirements, and designs emerge from self-organizing teams.</li>
    <li>At regular intervals, the team reflects on how to become more effective, then tunes and adjusts its behavior accordingly. </li>
</ol>

<p><sup>1</sup>The words "late in development" imply development contains "stages". A product foocus does away with such stages. We should do our best to accept any changes that could bring more value to the table.</p>

<p><sup>2</sup> I didn't like the prescriptiveness to this. 
    Regulated industries are quite slow in their delivery compared to others by design (and usually for good reason). 
    This doesn't mean agile doesn't apply to them it just means business agility in those industries means something different than in other industries. 
    I also added a blurb on why we should deliver frequently...learning!</p>

<p><sup>3</sup> Removed "throughout the project" (same project/product mindset reasoning). I also removed the prescriptiveness by changing "daily" to "frequently". "collaborate" seems better than "work"</p>

<p><sup>4</sup> "projects" => "products"</p>

<p><sup>5</sup> I think we can be broader here. Let's stop the email chains and dozens of other methods of asyncronous communication for everybody. "face-to-face" is nice but I think the key is collaboration in real-time.</p>