<!DOCTYPE html>
<html data-bs-theme="dark"  class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - James Sampica</title>
    
     @await RenderSectionAsync("Styles", required: false)
     @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3">
            <div class="container">
                <a class="navbar-brand fs-4" asp-area="" asp-page="/Index">James Sampica</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav> 
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
        <footer class="row my-4">
            <div class="col-md-2 my-2">
                <h5 class="fst-italic">Get in touch...</h6>
                <a href="mailto:jtsampica@gmail.com">jtsampica@gmail.com</a>
            </div>
            <div class="col-md-2 my-2">
                <h5 class="fst-italic">Elsewhere...</h6>
                <a target="_blank" href="https://github.com/jamesSampica">Github</a>
                <br>
                <a target="_blank" href="https://stackoverflow.com/users/1950321/james-sampica">StackOverflow</a>
                <br>
                <a target="_blank" href="https://www.linkedin.com/in/jamessampica/">LinkedIn</a>
                <br>
                <a target="_blank" href="https://twitter.com/JamesSampica">Twitter</a>
            </div>
        </footer>
    </div>
</body>
</html>
